:root {
    --main: #2E0249;
    --second: #570A57;
    --third: #A91079;
    --contrast: #F806CC;
    --phone: #3a035c;
}

/* * {
    outline: solid
} */

body {
    overflow-x: hidden;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #330033;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='406' height='406' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='4.6'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='9'/%3E%3Ccircle cx='539' cy='269' r='9'/%3E%3Ccircle cx='603' cy='493' r='9'/%3E%3Ccircle cx='731' cy='737' r='9'/%3E%3Ccircle cx='520' cy='660' r='9'/%3E%3Ccircle cx='309' cy='538' r='9'/%3E%3Ccircle cx='295' cy='764' r='9'/%3E%3Ccircle cx='40' cy='599' r='9'/%3E%3Ccircle cx='102' cy='382' r='9'/%3E%3Ccircle cx='127' cy='80' r='9'/%3E%3Ccircle cx='370' cy='105' r='9'/%3E%3Ccircle cx='578' cy='42' r='9'/%3E%3Ccircle cx='237' cy='261' r='9'/%3E%3Ccircle cx='390' cy='382' r='9'/%3E%3C/g%3E%3C/svg%3E");
    color: var(--contrast);
    display: grid;
    place-items: center;
}

section {
    aspect-ratio: 9/17;
    width: 37.5vw;
    border: solid;
    border-width: .75em;
    border-radius: 2.25em;
    border-color: var(--phone);
    background-image: linear-gradient(to top, var(--third) 0%, var(--second) 100%);
    display: grid;
}


button {
    cursor: pointer;
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    font-weight: 900;
    border: none;
    background-color: var(--contrast);
    color: var(--main);
    margin: 0 1em;
}

aside {
    text-shadow: .1em .1em var(--main);
    width: 45vw;
    text-align: center;
    margin: 1em;
    display: grid;
    place-items: center;
}

aside > h1 {
    margin: 0;
    font-size: 2em;
    text-decoration: underline;
}

aside > p {
    margin-bottom: 0;
    font-size: 1.2em;
}

footer {
    margin-bottom: 1em;
    border-radius: 1em;
    padding: .5em;
    background-color: var(--contrast);
    color: var(--main);
}

a:link, a:visited {
    color: var(--second);
    font-weight: 600;
    text-decoration: none;
}

img {
    cursor: pointer;
}

.message {
    padding: .5em;
    margin: .5em 0;
}

.c-message {
    width: 20vw;
    border-radius: .75em .75em .75em 0;
    justify-self: left;
}

.u-message {
    width: 20vw;
    border-radius: .75em .75em 0 .75em;
    align-self: flex-end;
}


.u-pictures {
    align-self: flex-end;
}

.u-pictures > img {
    aspect-ratio: 1/1;
    width: 7.5vw;
    margin: 0 .25em;
    border-radius: 1em;

}

.c-payment {
    cursor: pointer;
    width: 18.5vw;
    border-radius: .75em .75em .75em 0;
    font-style: italic;
    display: flex;
    justify-content: space-between;
}

.c-payment > p {
    width: fit-content;
    margin: .35em 0;
}

.c-payment > p:last-child {
    border-radius: 1em;
    background-color: var(--main);
    color: var(--contrast);
    padding: .2em .5em;
}


.c-message, .c-payment ,#header {
    background-image: linear-gradient(to right, var(--third) 0%, var(--contrast) 100%);
    color: var(--main);
}


.u-message, #answer{
    background-image: linear-gradient(to right, var(--second) 0%, var(--main) 100%);
    color: var(--contrast);
}

#chat {
    padding: 0 .5em;
    display: flex;
    flex-direction: column;
}


#avatar {
    aspect-ratio: 1/1;
    width: 5.5vw;
    border-radius: 50%;
    margin: 0 .75em 0 0; 
}

#header {
    height: 10vh;
    border-radius: 1.5em 1.5em 0 0;
    font-weight: 600;
    font-style: oblique;
    padding: 0;
    display: grid;
}

#c {
    display: flex;
    justify-self: flex-start;
    justify-items: flex-start;
    align-items: center;
}

#c > div > p {
    margin: .25em;
}

#notch {
    aspect-ratio: 6/1;
    width: 20vw;
    border-radius: 0 0 1em 1em;
    background-color: var(--phone);
    margin:  0;
    display: grid;
    justify-self: center;
}

#answer {
    height: 5vh;
    margin: .5em;
    padding: .25vh 1vw;
    border-radius: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    width: 25vw;
    border: none;
    background-color: transparent;
}

input::placeholder {
    color: var(--contrast);
}

#back {
    background-color: var(--main);
    color: var(--contrast);
}

@media (max-width: 400px){
    section {
        width: 80vw;
    }   
    aside {
        width: 80vw;
    }
    .c-message {
        width: 45vw;
    }
    .u-message {
        width: 45vw;
    }
    .u-pictures > img {
        width: 15vw;
    }
    .c-payment {
        width: 45vw;
    }
    #avatar {
        width: 11vw;
    }
    #notch {
        width: 40vw;
    }
    input {
        width: 60vw;
    }
}

@media (min-width: 401px) and (max-width:850px) {
    
    section {
        width: 45vw;
    }   
    aside {
        width: 65vw;
    }
    .c-message {
        width: 25vw;
    }
    .u-message {
        width: 25vw;
    }
    .u-pictures > img {
        width: 9vw;
    }
    .c-payment {
        width: 25vw;
    }
    #header {
        width: 45vw;
    }
    #chat {
        width: 43vw;
    }
    #answer {
        width: 41vw;
    }
    #avatar {
        width: 8vw;
    }
    #notch {
        width: 30vw;
    }
    input {
        width: 60vw;
    }
}

@media (min-width: 950px) and (max-width: 1400px){
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section {
        aspect-ratio: 9/18;
        width:30vw;
        margin: 2.5vh 5vw;
        align-self: flex-start;
    }   
    aside {
        width: 35vw;
    }
    footer {
        position: absolute;
        bottom: .5em;
        justify-self: center;
        align-self: flex-end;
    }
    .c-message {
        width: 20vw;
    }
    .u-message {
        width: 20vw;
    }
    .u-pictures > img {
        width: 7vw;
    }
    .c-payment {
        width: 18vw;
    }
    #header {
        width: 30vw;
    }
    #chat {
        width: 28.8vw;
    }
    #answer {
        width: 26.75vw;
    }
    #avatar {
        width: 4vw;
    }
    #notch {
        width: 17.5vw;
    }
    input {
        width: 60vw;
    }
}

@media (min-width: 1401px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section {
        aspect-ratio: 9/18;
        width:21vw;
        margin: 4vh 5vw;
        align-self: flex-start;
    }   
    aside {
        width: 25vw;
    }
    footer {
        position: absolute;
        bottom: .5em;
        justify-self: center;
        align-self: flex-end;
    }
    .c-message {
        width: 14vw;
    }
    .u-message {
        width: 14vw;
    }
    .u-pictures > img {
        width: 4.8vw;
    }
    .c-payment {
        width: 14vw;
    }
    #header {
        width: 21vw;
    }
    #chat {
        width: 20.2vw;
    }
    #answer {
        width: 18.2vw;
    }
    #avatar {
        width: 3.8vw;
    }
    #notch {
        height: 2vh;
        width: 15vw;
    }
    input {
        width: 60vw;
    }
}